[submodule "src/modules/avl-components"]
	path = src/modules/avl-components
	url = git@github.com:availabs/avl-components.git

[submodule "src/pages/DataManager"]
	path = src/pages/DataManager
	url = git@github.com:availabs/DataManagerClient.git
