@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverable .show-on-hover {
  display: none;
}
.hoverable:hover .show-on-hover {
  display: block;
}
.hoverable:hover .show-on-hover.show-on-bottom {
  top: 100%;
}
.hoverable:hover .show-on-hover.show-on-top {
  bottom: 100%;
}

.scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #bbb;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}
.scrollbar::-webkit-scrollbar-thumb:hover {

}
.scrollbar-sm::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #bbb;
}
.scrollbar-sm::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888;
}
.scrollbar-sm::-webkit-scrollbar-thumb:hover {
}

.scrollbar-xs::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: #f5f5f5;
}
.scrollbar-xs::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #888;
}
.scrollbar-xs::-webkit-scrollbar-thumb:hover {
}

.scrollbar.scrollbar-blue::-webkit-scrollbar,
.scrollbar-sm.scrollbar-blue::-webkit-scrollbar,
.scrollbar-xs.scrollbar-blue::-webkit-scrollbar {
  background-color: rgb(191 219 254);
}
.scrollbar.scrollbar-blue::-webkit-scrollbar-thumb,
.scrollbar-sm.scrollbar-blue::-webkit-scrollbar-thumb,
.scrollbar-xs.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: rgb(96 165 250);
}

input[type="range"] {
  background: #ddd;
  accent-color: blue;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border-radius: 4px;
  accent-color: blue;
}

input[type="range"]::-moz-range-track {
  background: #ddd;
  border-radius: 4px;
  accent-color: blue;
}

datalist {
  display: flex;
  justify-content: space-between;
  list-style-image: none;
}
